# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log
*.sqlite3
*.db


venv/
env/
ENV/
.venv/


.DS_Store


.vscode/
.idea/


*.pot
*.pyc
db.sqlite3
media/
staticfiles/


.env
*.pem
*.key



.coverage
htmlcov/
pytest_cache/
.pytest_cache/
coverage.xml
.noseids


logs/
*.log
